h3{
    color:white;
    font-size: 20px;
}
h4{
    font-size: 20px;
}
p{
    font-size: 18px;
}
.education{
    margin-top:50px ;
    margin-left: -30px;
}

.education ul li{
    margin-left: -35px;
    list-style-type: none;
}
