<div class="main">

  <div class="col-div-12">
    <div class="content-box">

      <app-projects [projects]="Akash?.projects"></app-projects>

      <app-skills [skills]="Akash?.skills"></app-skills>

      <app-experience [experience]="Akash?.experience"></app-experience>

      <app-strengths [strengths]="Akash?.strengths"></app-strengths>

    </div>
  </div>



  <div class="col-div-4">
  <div class="content" style="padding-left: 50px;">

  <app-header [name]="Akash?.name"></app-header><hr>

  <app-objectives [objective]="Akash?.objective"></app-objectives>

  <app-contact [contact]="Akash?.contact"></app-contact>

  <app-education [education]="Akash?.education"></app-education>
  
</div>  
</div>

</div>